<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-YvTur/blob/main/Semana_1_Modulo1_a00813752.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The following exercises are from a course of IBM as a requisite from the Data Science course at ITESM in the masters degree of Artificial Intelligence.

# Python 101 for Data Science

## Module 1 - Python Basics

**First program in python**

In [4]:
#We are goint to print hello world
print("Hello World")
#We are going to print a hello world within two lines
print("Hello\nWorld")
#Print the same expression with simple comas
print('hello world')

Hello World
Hello
World
hello world

**Types of Data**

**String**=All the alfanumerical, they are represented but does not represent their own value. you can have a 10, but it will be read as a characters not as the value 10. 

**int**= real numbers, all rounded up. No decimals.

**float**=all numbers that have a decimal even the ones like 1.0.

**Boolean**= One or zero. It is more use to represent true or false.

In [5]:
#Exercise. Convert the number one into a boolean
bool(1)

True

**Expressions: Mathematical operations**

Operations:

x + y	----> Sum of x and y

x - y ----> Difference of x and y

-x	  ----> Changed sign of x

+x	  ----> Identity of x

x * y ---->	Product of x and y

x / y	----> Quotient of x and y

x // y---->	Quotient from floor division of x and y

x % y ---->	Remainder of x / y

x ** y---->	x to the y power

**Variable**

In python the variables are just to declare the name of the variable and add the equal sign. A nice feature of python is the no need of specify the type of data.

In [8]:
#example of variables
total_min=43+42
total_hr=total_min/60
print(total_hr)

1.4166666666666667

**String Operations**

Python has a set of built-in methods that you can use on strings.

Example: 

capitalize()	Converts the first character to upper case

casefold()	Converts string into lower case

count()	Returns the number of times a specified value occurs in a string

In [11]:
"0123456".find('1')

1

In [13]:
var = '01234567'
print(var[::2])

0246

In [14]:
myvar = 'hello'
myvar.upper()

'HELLO'