<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-YvTur/blob/main/Semana1_Modulo2_a00813752.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 101 for Data Science

## Module 2 - Data Structures

**Tuples**

The tuples are characterized to be writer in parenthesis.
The example below:


gallo=(0,1,2,3,4,5,6,7,8)

The tuples work similar to the list. The main difference is they are immutables. You can not change it.

In [ ]:
#The tuples can have integers and strings combined
gallo=(1,2,3)
galla=("1","2","3")
print(type(gallo))

print(type(galla))

print(gallo+galla)

<class 'tuple'>
<class 'tuple'>
(1, 2, 3, '1', '2', '3')

In [ ]:
#The tuples can have tuples inside them. It is called nesting
galle=(1,2,("pop","rock"),(3,4))
#similar to what he have seen the tuples work as indexes. It has the value and the key that identifies the position of that value.

**List**

List are represented with square brackets
Example:
L=[0,1,2]

Similar with tuples each element can be acceses through index and can manage also nesting. \

Meaning you can have lists of lists. 
The list can manage integers, strings.

The list are muttable. They can be change.

In [ ]:
#example to erase in list or tuples
a=[0,1,2,3]
del(a[1])
print(a)

#The function del can help to erase the elements of a list or a tuple

[0, 2, 3]

In [ ]:
B=["a","b","c"]
B[1:]

['b', 'c']

**Sets**

Are a tyoe of collection

They do not record position

They only have unique elements

*Example of a set*
Set1={"pop","rock","soul","rock"}

In [1]:
set1={"pop","rock","soul","rock"}

In [2]:
print(set1)

{'soul', 'pop', 'rock'}

Using typecasting you can convert a list into a set. using the function set()

In [4]:
 album_list=["nirvana", 'strokes', 'beatles', 'strokes']
 album_set=set(album_list)
 print(album_set)

{'beatles', 'strokes', 'nirvana'}

**Set operations**

You can use the methods of list like add() or remove() to erase stuff from sets.

In [5]:
S={'A','B','C'}

U={'A','Z','C'}

U.union(S)

{'A', 'B', 'C', 'Z'}

**Dictionaries**

The dictionaries are similar to what we know about the famous lists. In the list we have the element and their index. In the case of dictionaries our index does not has to be an integer in assending position. You choose the key (this is how we will call our indexes on dictionaries)

Example of a dictionary=
dic1={"a":1,"b":2,"c":3,"d":4}

In [1]:
Dict={"A":1,"B":"2","C":[3,3,3],"D":(4,4,4),'E':5,'F':6}
Dict["D"]

(4, 4, 4)