<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-YvTur/blob/main/Semana2_Modulo4_a00813752.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python 101 for Data Science

## Module 4 - Working with data

### Python manage files tools

**Reading files using python**

It is very common the need of manage files on python. Due the reading or writing of such files. Specially when you are  working on topics realated to management 

Example:

file1=open("/desktop/file.txt","r")

The w is the mode. It means Write

We can replate it for an r, which will mean read. 

We can replate it for an a, wich will mean append

**Functions for manage files**

file1.name --> provide the name

file1.mode --> provide the r, w and a

file1.close--> is for closing the file, it is necessary to close it. 

file1.readlines() --> this method can help out to read all the lines in a file

In [ ]:
#**Using with for files**

with open("Example1.txt","r") as file1:
  file_stuff=file1.read() #we bring it as a string the file
  print(file_stuff) #we can print the value of the string, 
  #after the identation we can not manage the file, but we can manage the string

**Writing using python**

When you do the following:

file1=open("/desktop/file1.txt","w")  

You will actually create the file, in case the file does not exist you will over write over it. 


*Example on how to write over inside the file: *

with open("desktop/file1.txt","w")
  file1.write("prueba de codigo en el file ")

Append using python

After reading the past notes, you might realize. What happen if I dont want to overwrite a file or create a new one. instead to modify an existing file. 

Well for that is the use of the append funciton. 

file1=open("/desktop/file2.txt","a")

In [ ]:
#The following code is to copy from one file into the other. You can used it as  you wish. 
with open("Example1.txt","r") as readfile:
  with open ("Example2.txt","w") as writefile:
    for line in readfiles:
      writefile.write(line)

### Pandas

Pandas is a library that allows data analysis

In [5]:
#There are this things call libraries, which included a buch of pre built classes and methods
#yeah, code that we do need to learn to make, only to use. In case my teacher is reviewing this. HI!! 

#example of code of pandas to read a csv file 
import pandas as pd
csv_path="file1.csv"
df=pd.read_csv(csv_path)

In [5]:
import pandas as banana

df=banana.DataFrame({'a':[11,21,31],'b':[21,22,23]})

df.head()

    a   b
0  11  21
1  21  22
2  31  23

**List Unique Values**

Pandas has a method that let us extract unique values from the dataframe.
We are analyzing a specific column and extracting only the values that do not repeat. 

Code example:

  *df['Name of the column'].unique*

In [1]:
#df['Name of the column'].unique

In case that you are interested on a range of data in the specific column you can use the following extract code:

df['Name of the column']>=1980

In [2]:
#df['Name of the column']>=1980

In case that you want to generate a new table you can a proper dataframe from the dataset you can do the following code

*Example of code:* 

*df1=df[df['Name of the column']>=1980]*

In [3]:
#df1=df[df['Name of the column']>=1980]

Now that I have a new dataframe extracted from my dataset. I want to make a csv with this data frame.

*Example of code*

df1.to_csv("new_songs.csv")

In [6]:
#EXERCISE using pandas
df=pd.DataFrame({'a':[1,2,1],'b':[1,1,1]})

df['a']==1

0     True
1    False
2     True
Name: a, dtype: bool